@font-face {
    font-family: 'JMH Typescript';
    src: url(../fonts/JMH-Typewriter.woff);
}
@font-face {
    font-family: 'JMH Typescript Thin';
    src: url(../fonts/JMH-Typewriter-Thin.woff);
}
@font-face {
    font-family: 'JMH Typescript Black';
    src: url(../fonts/JMH-Typewriter-Black.woff);
}
@font-face {
    font-family: 'JMH Typescript Bold';
    src: url(../fonts/JMH-Typewriter-Bold.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'JMH Typewriter', sans-serif;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none
    }                          
}


@import "invitation";
@import "event";